    <img src="/assets/images/dieing.jpg">
    <img src="/assets/images/gazou_0071.jpg">
    <img src="/assets/images/garfield_dead.jpg">
    <img src="/assets/images/garf_dead_drunk.png">
    <img src="/assets/images/garf_nokotto.jpg">
    <p>
      Am I dieing or am I already dead?
    </p>
    <img src="/assets/images/garf_dead_drunk.png">
    <img src="/assets/images/garf_dead_drunk.png">
    <img src="/assets/images/garf_dead_drunk.png">
    <p>
      Good q
    </p>
