<img class="lookslikekirby" src="/assets/images/coolkindalikekirby.png">

<h1 class="t1">DATA</h1><h1 class="t2">vegetables</h1>
<Player>
  <DjDonateButton />
</Player>
<NetworkStatus as |status|>
  <Chat @networkStatus={{status}} />
  <Visuals />
</NetworkStatus>

<p>are you lost ? site guide:</p>
<ul>
  <li><LinkTo @route="vol01">data vegetables cassette tape vol. 01</LinkTo></li>
  <li><LinkTo @route="datazone">my datazone</LinkTo></li>
  <li><LinkTo @route="dieing">dieing</LinkTo></li>
  <li><LinkTo @route="memories-of-onsen">memories of onsen</LinkTo></li>
  <li><LinkTo @route="no-talk">therapy zone</LinkTo></li>
  <li><LinkTo @route="world-wide-wow">the world wide web</LinkTo></li>
  <li><LinkTo @route="kindofadirtychineserestaurant">kind of a dirty chinese restaurant</LinkTo></li>
  <li><LinkTo @route="timestrangers">time strangers zine</LinkTo></li>
  <li><LinkTo @route="manga-relay">relay comic</LinkTo></li>
</ul>

<h1>Shop</h1>
<img src="/assets/images/SALE.gif">
<img src="/assets/images/SALE.gif">
<img src="/assets/images/SALE.gif">
<span>maybe cola - 80 yen</span>
<img src="/assets/images/fallingcolas.gif">
<br>
<h3>THAT'S SO CHEAP WOW</h3>
<img src="/assets/images/burger_die.gif">
<br>
<p>hurry the sale will end soon</p>
<img src="/assets/images/pizzacube.gif">
